@page
@model Final_Indv_Assignment.Pages.Shared.LogInModel
@{
	ViewData["Title"] = "Log In";
	Layout ="_LayoutLogIn";
}

	

	<div class="login-container">
		<div class="loginbox">
			<img class="avatar" src="~/images/login/account.jpg" />
			<div class="LogInTitle"><h1>Log In</h1></div>
			
			<form method="post">
				<label asp-for="Username" class="form-label">Username </label>
				<span class="text-danger" asp-validation-for="Username"></span>
				<input type="username"asp-for="Username" class="form-control" required value="" >

				<label asp-for="Password" class="form-label">Password </label>
				<span class="text-danger" asp-validation-for="Password"> </span>
				<input type="password" asp-for="Password" class="form-control"required value="" >


			<div class="separator"></div>
			
			<div class="buttons">
				<form method="post" asp-page-handler="LogIn">
					<button class="login" type="submit">Log In</button>
				</form>
				<form method="post" asp-page-handler="SignUp">
					<button class="SignUp" type="submit">Sign Up</button>
				</form>

			</div>
			@if (!ModelState.IsValid)
			{
			<div class="error-message">
				@Html.ValidationSummary()
			</div>
			}
			</form>
		</div>
	</div>
