@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //string username = HttpContext.Request.Query["username"];
}


<body>
    <div class="WelcomeTitle">
        <h1 class="display-4">Welcome @Model.Username! </h1>
    </div>
    

</body>
